# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

